body {
  background-image: url(./background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

 nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 200%;
  text-align: center;
  padding: 4px;
  color: white;
}

 nav li {
  border: 2px solid white;
  padding: 5px;
  margin: 5px;
  background-color: black;
}

a:link {
  color: #99FF33;
}
a:visited {
  color: #99FF33;
}
a:hover {
  color: #99FF33;
}
a:active {
  color: #99FF33;
}

.front h1 {
  color: white;
  font-size: 300%;
  text-align: center;
  padding-top: 5%;
  font-family: 'Righteous', cursive;
}
.front h2 {
  color: white;
  font-size: 30px;
  padding-top: 10%;
  font-family: 'Russo One', sans-serif;
}
.front li {
  color: white;
  font-size: 30px;
  padding-top: 2%;
  padding-right: 20%;
  padding-bottom: 5%;
  font-family: 'Russo One', sans-serif;
}

#top-list {
  padding-top: 7%;
}
#bot-list {
  padding-bottom: 0px;
}

.para h1 {
  color: #FF0000;
  text-shadow: .5px .5px black;
  font-size: 28px;
  text-align: center;
  padding-top: 5%;
}
.para h2, h3 {
color: #FF0000;
text-shadow: .5px .5px black;
text-align: center;
}
.para h3 {
  padding-bottom: 10%;
}
.para li {
  color: white;
  text-align: left;
  margin-top: 35px;
  font-size: 140%;
  list-style: none;
}
#paralist a {
  color: #00FFFF;
}
#paralist li {
  color: #00FFFF;
  list-style: square;
}
#rail {
  padding-right: 38%;
}

#ghost-back {
  width: 20%;
}
.family-member h1 {
  color: white;
  text-shadow: 2px 2px grey;
  font-size: 45px;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  padding-top: 5%;
}
.family-member p {
  color: #C9C5C5;
  text-align: center;
  font-size: 35px;
  padding-top: 10%;
  padding-right: 20%;
  padding-left: 20%;
  font-family: 'Pangolin', cursive;
}



footer {
  position: static;
  bottom: 0;
  left: 0;
  padding-top: 25%;
  margin-top: 45%;
  color: white;
}
