body {
  background-image: url(./background.jpg);
  background-size: contain;
  background-position: cover;
  background-repeat: repeat;
}

 nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 200%;
  text-align: center;
  padding: 4px;
  color: white;
}

 nav li {
  border: 2px solid white;
  padding: 5px;
  margin: 5px;
  background-color: black;
}

a:link {
  color: #99FF33;
}
a:visited {
  color: #99FF33;
}
a:hover {
  color: #99FF33;
}
a:active {
  color: #99FF33;
}

.front h1 {
  color: white;
  font-size: 300%;
  text-align: center;
  padding-top: 5%;
  font-family: 'Righteous', cursive;
}
.front h2 {
  color: white;
  font-size: 30px;
  padding-top: 10%;
  font-family: 'Russo One', sans-serif;
}
.front li {
  color: white;
  font-size: 30px;
  padding-top: 2%;
  padding-right: 20%;
  padding-bottom: 5%;
  font-family: 'Russo One', sans-serif;
}

#top-list {
  padding-top: 7%;
}
#bot-list {
  padding-bottom: 0px;
}

.para h1 {
  color: #C0C0C0;
  text-shadow: .5px .5px black;
  font-size: 2.6vw;
  text-align: center;
  padding-top: 5%;
}
.para h2, h3 {
color: #C0C0C0;
text-shadow: .5px .5px black;
text-align: center;
font-size: 1.75vw;
}
.para h3 {
  padding-bottom: 10%;
  font-size: 1.65vw;
  color: #C0C0C0;
}
.para li {
  color: white;
  text-align: left;
  margin-top: 35px;
  font-size: 140%;
  list-style: none;
}
#paralist a {
  color: #00FFFF;
}
#paralist li {
  color: #00FFFF;
  list-style: square;
}
#rail {
  padding-right: 38%;
}

#ghost-back {
  width: 20%;
}
#vestibular {
  color: white;
  font-style: italic;
}

.ufo h1 {
  color: #33FF33;
  text-shadow: 2px 2px black;
  font-size: 2.6vw;
  text-align: center;
  padding-top: 5%;
}
.ufo h2, h3 {
color: #33FF33;
text-shadow: 2px 2px black;
font-size: 1.70vw;
text-align: center;
}
.ufo h3 {
  padding-bottom: 10%;
  color: #33FF33;
  font-size: 1.65vw;
}
.ufo li {
  color: white;
  text-align: left;
  margin-top: 35px;
  font-size: 140%;
  list-style: none;
}
#ufo-list a {
  color: #7F00FF;
}
#ufo-list li {
  color: #7F00FF;
  list-style: square;
}

.family-member h1 {
  color: white;
  text-shadow: 2px 2px grey;
  font-size: 45px;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  padding-top: 5%;
}
.family-member p {
  color: #C9C5C5;
  text-align: center;
  font-size: 35px;
  padding-top: 10%;
  padding-right: 15%;
  padding-left: 15%;
  font-family: 'Pangolin', cursive;
}

.real h1 {
  color: #990000;
  text-shadow: 2px 2px black;
  font-size: 2.6vw;
  text-align: center;
  padding-top: 5%;
}
.real h2, h3 {
color: #990000;
text-shadow: 2px 2px black;
text-align: center;
font-size: 1.6vw;
}
.real h3 {
  padding-bottom: 10%;
  color: #990000;
  font-size: 1.5vw;
}
.real li {
  color: white;
  text-align: left;
  margin-top: 35px;
  font-size: 140%;
  list-style: none;
}
#real-horror a {
  color: #FF0000;
}
#real-horror li {
  color: #FF0000;
  list-style: square;
}

.fictional h1 {
  color: #660000;
  text-shadow: 2px 2px black;
  font-size: 2.2vw;
  text-align: center;
  padding-top: 5%;
}
.fictional h2, h3 {
color: #660000;
text-shadow: 2px 2px black;
text-align: center;
font-size: 1.75vw;
}
.fictional h3 {
  padding-bottom: 10%;
  color: #660000;
  font-size: 1.6vw;
}
.fictional li {
  color: white;
  text-align: left;
  margin-top: 35px;
  font-size: 140%;
  list-style: none;
}
#fictional-list a {
  color: #CC0066;
  text-shadow: 1px 1px black;
}
#fictional-list li {
  color: #CC0066;
  text-shadow: 1px 1px black;
  list-style: square;
}

footer {
  position: static;
  bottom: 0;
  left: 0;
  padding-top: 25%;
  margin-top: 45%;
  color: white;
}
